/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.product-detail-layout-6 .dual-button a {
  text-transform: uppercase !important;
}

.fl-page-nav-search {
  order: 1;
}

/* header .uabb-photo-img{
	min-height: 100% !important;
	max-height: initial !important;
} */

/*Footer Socila Icons */
.gform_wrapper li.hidden_label input {
  margin-top: 0px !important;
  vertical-align: middle !important;
}
ul.social-icons {
  float: right;
}
.fl-slide-2 .fl-slide-content {
  max-width: 30%;
  margin: 85px auto !important;
}
.facet_filters .facet-wrap > strong {
  color: #95d409 !important;
  border-color: #95d409 !important;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #95d409;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #95d409;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 14px;
  color: #000;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}
ul.social-icons li {
  margin: 0px 0px 0px 0;
  width: 60px;
}
.fl-post.post.type-post .row.fl-post-image-beside-wrap {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.fl-post.post.type-post .row.fl-post-image-beside-wrap > div {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.fl-post.post.type-post .fl-post-image-beside {
  float: none !important;
  width: 100% !important;
}
footer .menu li a:hover {
  text-decoration: underline 3px solid #fff;
}
ul.social-icons li a i {
  font-size: 40px;
  color: #95d409;
}
.fl-module-uabb-gravity-form
  .uabb-gf-style
  .gform_wrapper
  .gform_footer
  input[type="submit"] {
  background-color: #95d409 !important;
  text-transform: uppercase !important;
}
.fl-module-uabb-gravity-form
  .uabb-gf-style
  .gform_wrapper
  .gform_footer
  input[type="submit"]:hover {
  background-color: #000 !important;
}
ul.social-icons li a {
  color: #95d409 !important;
}
/* Font size 14 */
.product-grid.btn-grey .product-variations1 > h5,
.product-grid.btn-grey > h4 > span,
.product-grid .fl-button-text,
.floorte-color,
.featured-products
  .featured-product-list
  .featured-product-item
  .prod-img-wrap
  .button-wrapper
  .button,
.fl-photo-caption {
  font-size: 14px !important;
}
ul.social-icons li a:hover {
  color: #ffffff !important;
}

.f-0 .fl-heading-text {
  font-size: 0;
}
.footer-phone-no .fl-icon-wrap {
  display: flex;
  align-items: center;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a {
  margin-right: 4px !important;
  font-size: 14px !important;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a:nth-child(2) {
  margin-right: 0px !important;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i {
  margin-right: 2px !important;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i.at-the-rate-code {
  font-size: 15px !important;
  vertical-align: initial;
}
.fl-page-bar-text.fl-page-bar-text-2 .top_bar a i.fa-comment-dots {
  font-size: 16px !important;
  vertical-align: bottom;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap * {
  margin-bottom: 0;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap .fa-comment-dots:before {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: sub;
}
.footer-phone-no .fl-icon-wrap .fl-icon-text-wrap .at-the-rate-code {
  vertical-align: middle;
  font-size: 20px;
  margin-right: 10px !important;
}

.bottom-pager .facetwp-pager {
  text-align: right;
}
.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #95d409;
}
.facet_filters strong {
  color: #95d409;
}
.product-colors ul li.found {
  margin-right: 5px;
}
.open_sidebar a.fl-button,
.facet_filters .clear_search_btn,
.facet_filters .close_sidebar_button .close_sidebar {
  text-transform: uppercase;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #89c800;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #000000 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Open Sans",sans-serif !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #428bca !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #428bca !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #000000 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #428bca !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #428bca !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #000000 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Open Sans",sans-serif !important;
  letter-spacing: 1px !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #428bca !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #428bca !important;
}

@media (min-width: 992px) {
  footer#djcustom-footer ul.social-icons {
    text-align: right !important;
  }

  header .fl-page-header-container {
    width: 100%;
    /* max-width: 1360px; */
    /* margin: 0px; */
  }
  header .fl-page-header-wrap {
    border: 0px !important;
  }
  .Visit_us a {
    padding: 12px 24px !important;
    background: #95d409 !important;
    font-weight: 400 !important;
    color: #fff !important;
    transition: all 0.6s;
    display: inline-flex !important;
  }
  .Visit_us a:hover {
    background: #000 !important;
    color: #fff !important;
  }
  header {
    border-bottom: 1px solid #00000042 !important;
  }
  /* 	.nav-link:before{
		content: "\f3c5";
		font-family: FontAwesome;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
	} */
}

#field_23_4,
#field_22_4 {
  width: 100% !important;
  padding-right: 0px !important;
}

#field_23_2,
#field_16_2,
#field_27_2,
#field_22_2 {
  padding-right: 0px !important;
}

#choice_23_11_1,
#choice_16_7_1,
#choice_27_7_1 {
  vertical-align: top !important;
}

#field_19_10 {
  margin-top: 24px !important;
}

#field_19_10 > div {
  margin-top: 0px !important;
}

#menu-copyright-bar-menu a {
  color: #080808 !important;
  font-weight: 500 !important;
  font-size: 12px;
}

footer .fl-rich-text p {
  color: #080808 !important;
  font-size: 12px;
  font-weight: 500 !important;
}

.top_bar .storename .address p {
  display: inline-block !important;
  margin-left: 4px !important;
  margin-top: 12px;
  font-size: 14px;
}

.top_bar .storename .address a {
  font-size: 14px !important;
}

.fl-page-bar-container {
  padding: 0px !important;
}

.top_bar.top_bar_right {
  display: flex;
  align-items: baseline;
  justify-content: end;
}

.top_bar.top_bar_right .storename {
  margin-left: 10px !important;
}

header .uabb-photo-content img {
  width: auto !important;
}

.top_bar .phone a {
  font-size: 14px !important;
}

.fl-page-bar-text.fl-page-bar-text-1 {
  padding: 0px !important;
}

.fl-page-bar-text-1 .storename {
  margin-bottom: 0px !important;
}

.fl-page-bar-text.fl-page-bar-text-2 {
  padding: 0px !important;
}

.fl-page-bar-text-2 .storename {
  margin-bottom: 0px !important;
  display: inline-block !important;
}

.fl-page-bar-text-2 i {
  margin-right: 6px !important;
  margin-top: 4px !important;
  font-size: 14px !important;
}

/* .nav-link:before{
	content: "\f3c5";
	color: #fff;
	font-family: "Font Awesome 5 Free";  
} */

.Visit_us a:before {
  content: "\f041";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  margin-right: 6px;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
}

.Visit_us a {
  display: flex;
  align-items: center;
}

@media (max-width: 992px) {
  body #rmp_menu_trigger-1131690 {
    top: 59px !important;
  }
  footer nav .menu-item a {
    padding-left: 0px !important;
  }
  .fl-page-bar-text-2 div.top_bar {
    padding-bottom: 10px !important;
  }
  .store-opening-hrs {
    padding-left: 0px !important;
  }
  .fl-post-image-beside {
    width: 100% !important;
  }
  .remove-bg .fl-col-content {
    background-color: transparent !important;
  }
  .Visit_us a:before {
    content: "";
  }
  .Visit_us a {
    text-transform: capitalize !important;
  }
  .remove-bg .fl-col-content h1 {
    color: #fff !important;
    text-shadow: 2 0 3 #000 !important;
  }
  .remove-bg .fl-col-content h1 strong {
    color: #fff !important;
    text-shadow: 2 0 3 #000 !important;
  }
  button#responsive-menu-button {
    top: 73px !important;
  }
  .fl-page-bar-container {
    padding: 0px 20px !important;
  }
  .fl-page-header-logo {
    padding: 0px 0px !important;
  }
  .fl-page-header-logo img {
    float: left !important;
  }
  .fl-page-header-logo-col {
    padding-left: 0px !important;
  }
  #menu-copyright-bar-menu li {
    float: left !important;
  }
  footer .fl-node-5c6fdfb622749 nav {
    text-align: center !important;
  }
  .fl-node-5c6fdfb622747 .fl-rich-text > p {
    text-align: center;
  }
}

.storename .store-opening-hrs-container ul {
  list-style: none;
}

.storename .store-opening-hrs-container ul li {
  position: relative;
  padding: 5px 0;
}

.storename .store-opening-hrs-container ul li span {
  position: absolute;
  right: 0;
  width: 60%;
}

footer .fl-node-5dd701da5b06c .message {
  display: inline;
}

.loc_add .storename p {
  margin-bottom: 0px !important;
}

.loc_add .fa-map-marker {
  margin-bottom: 12px;
}
@media (max-width: 1180px) {
  .main-menu {
    display: none !important;
  }
  #rmp_menu_trigger-1131690 {
    display: block !important;
  }
}
@media (max-width: 1024px) {
  header .fl-page-nav .navbar-nav,
  header .fl-page-nav .navbar-nav a {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .top_bar.top_bar_right {
    display: flex;
    align-items: baseline;
    justify-content: center;
  }

  body #rmp_menu_trigger-1131690 {
    top: 108px !important;
  }

  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0px !important;
  }
  .max-width-issue {
    max-width: 400px !important;
    margin: 0 auto !important;
  }
}
@media (max-width: 768px) {
  /*     body #rmp_menu_trigger-1131690{
        top: 65px!important;
    } */
}
@media (max-width: 767.5px) {
  button#responsive-menu-button {
    top: 96px !important;
  }
}

@media (max-width: 576px) {
  .store_loc .w-100 {
    width: 100% !important;
  }
  .fl-page-header-container {
    padding-left: 15px !important;
  }
  .responsive-menu-button {
    height: 45px !important;
    width: 45px !important;
  }
  .top_bar .address p:nth-child(2) {
    margin-top: 0px !important;
  }
}

@media (max-width: 425px) {
  #rmp_menu_trigger-1131690 {
    top: 78px !important;
  }
  .uabb-photo__gallery-filters li {
    width: 100% !important;
    margin: 0px !important;
  }
  .uabb-photo__gallery-filters {
    height: auto;
    width: 100% !important;
    padding-left: 0px !important;
  }
  .uabb-photo-gallery-filter-grid {
    width: 100%;
  }
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
  .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
  .gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"] {
    margin-top: 3px !important;
  }
}

.search-row .product-grid .getcoupon-btn {
  padding: 8px 12px;
  text-decoration: none;
}

.search-row .product-grid .plp-view-product {
  margin-top: 8px !important;
}

.page-list .page-item-349302 {
  display: none;
}

input[type="checkbox"] {
  vertical-align: top !important;
}

@media (max-width: 320px) {
  button#responsive-menu-button {
    top: 104px !important;
  }
  .copy_bar_menu li.menu-item:nth-child(3) {
    transform: translate(136%, 0%);
  }
}

.text-right {
  text-align: right;
}

.search-row header {
  border-bottom: 0px !important;
}

.FloorteBtn h1 a:hover {
  color: #95d409 !important;
}
/* PDP page image issue css start here  */


.product-detail-layout-6 .slide.selected-slide:after {
  display: none !important;
}
.product-detail-layout-6 .slide.selected-slide a:after {
  content: "" !important;
  background-image: url(https://designwaterville.com/wp-content/plugins/grand-child/product-listing-templates/images/PDP_check_icon.png) !important;
  height: 38px !important;
  width: 38px !important;
  background-repeat: no-repeat !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 9;
}
.product-detail-layout-6 .slide.selected-slide a {
  display: block;
  position: relative;
}
/* PDP page image issue css end here  */
@media (min-width: 992px) {
  .style-product_list .pro-container .row .col-md-7 {
    width: 48.333333% !important;
  }
}

/* PLP Page Css iPad Air */
@media only screen and (max-width: 992px) {
  footer * {
    text-align: center !important;
  }
  ul.social-icons {
    float: none !important;
  }
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */

  /* Facet Filter CSS	- iPad */
  .facet_filters .close_bar {
    display: block;
  }
  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .facetwp-per-page-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .open_sidebar a {
    float: none !important;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }
  .facet_filters .close_bar .close {
    float: right;
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .facetwp-pager {
    float: none !important;
    margin-top: 10px;
  }
  /* Products List CSS - iPad */
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 599px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 48%;
    clear: none !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    clear: both !important;
  }
  /*     body #rmp_menu_trigger-1131690{
        top: 74px!important;
    } */
}

@media (max-width: 430px) {
  header .uabb-photo-content img {
    width: auto !important;
    max-width: 210px;
  }
  header .address {
    text-align: center !important;
  }
  body #rmp_menu_trigger-1131690 {
    top: 84px !important;
  }
}

@media (max-width: 344px) {
  body #rmp_menu_trigger-1131690 {
    top: 107px !important;
  }
}
/* PLP Page Css iPad Air */

@media (min-width: 1000px) and (max-width: 1181px) {
  .fl-page-nav-right .fl-page-nav-search {
    order: 1 !important;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 4px !important;
  }
  li.Visit_us a {
    padding: 10px !important;
  }
}
